.form-control:disabled, .form-control[readonly] {
	background-color: white;
}

.input-group-text {
	background-color: white;
}

.no-border {
	outline: none;
	box-shadow:none !important;
	border:1px solid #ccc !important;
}